/* reset */
$min-width: 32.0rem; 
$max-width: 123.0rem; 
$base-bg: #FFF; 
$base-font-size: 1.8rem; 
$base-line-height: 1.35; 
$base-font-family: "GT Eesti Pro Display", sans-serif; 
$custom-font-family: "GT Eesti Pro Display", sans-serif; 
$link-color: #72727E;
$default-transition:all 0.33s linear;

/* main variables */

//text, titles
$text-color: #72727E;
$title-color: #141B41;
$title-font-family: $custom-font-family;

$font-size-h1: 4rem;
$line-height-h1: 1.25;
$font-size-h2: 4rem;
$line-height-h2: 1.1;
$font-size-h3: 3.2rem;
$line-height-h3: 1.1;