
/*main styles*/
html{
	font-size: 10px;
}
body.no-scroll{
	overflow: hidden;
}
.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	-ms-flex-direction: column;
	justify-content:flex-start;	
	-webkit-justify-content:flex-start;	
	-ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 3rem 0 3rem;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 1.5rem 0 1.5rem 0;
	font-weight: 300;	
}
h1{
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 1.5rem 0 1.5rem 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 1.5rem 0 1.5rem 0;
	font-weight: 400;
}

ul{
	list-style-type: none;
}



/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/logo.svg) no-repeat left top;
	width:120px;
	height:23px;position:fixed;
	left:50%;top:50%;
	margin-left:-60px;
	display:none;}
	.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
	width: 100%;
	order: 2;
	-webkit-order: 2;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	position: relative;
	z-index: 2;
}

.top-screen{
	padding: 11.6rem 0 12rem;
	width: 100%;
	max-width: 550px;
	&__info{
		position: relative;
		z-index: 2;
	}
	&__descr{
		font-size: 2.4rem;
		line-height: 1.4;
		font-weight: 300;
		color: #72727E;
		padding: 0.8rem 0 0.8rem;
	}
	&__decor{
		width: 70rem;
		position: absolute;
		top: 2.8rem;
		right: -6.3%;
		z-index: 1;
	}
	&__btn{
		margin-top: 4.4rem;
	}
}
.icon-arrow{
	font-size: 2.4rem;
	position: relative;
	left: 0.4rem;
	line-height: 1;
}

img{
	display: block;
	width: 100%;
}
.start{
	padding-top: 10rem;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&__decor{
		position: relative;
		z-index: 1;
		width: 50%;
	}
	&__img{
		position: absolute;
		left: -13.3rem;
		top: -10rem;
		width: 72.7rem;
	}
	&__info{
		position: relative;
		z-index: 2;
		left: 2.4rem;
	}
}
.info-list{
	margin-top: 5.5rem;
	&__item{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: start;
		margin-bottom: 5.2rem;
		margin-right: 3rem;
	}
	&__icon{
		width: 6rem;
		height: 6rem;
		border-radius: 6px;
		background: #F7F8FD;
		text-align: center;
		font-size: 2.9rem;
		line-height: 1;
		padding-top: 1.5rem;
		margin-right: 3rem;
		position: relative;
		top: -0.3rem;
	}
	&__title{
		font-size: 2.4rem;
		line-height: 1;
		font-weight: 400;
		color: #141B41;
	}
	&__text{
		padding: 1.2rem 0;
		white-space: nowrap;
	}
}
.partners{
	padding-top: 6.3rem;
	&__title{
		width: 100%;
		text-align: center;
	}
	&__text{
		text-align: center;
		width: 100%;
		max-width: 84rem;
		margin: 0 auto;
		padding: 0;
		margin-top:0.4rem;
		line-height: 1.36;
	}
	&__btn{
		margin-top: 5.9rem;
		width: 100%;
		text-align: center;
	}
}
.info-list_2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: no-wrap;
	margin-top: 4rem;
}
.info-list__item_2{
	width: 20%;
	padding: 4.2rem 1.5rem 1.6rem 1.5rem;
	text-align: center;
	flex-direction: column;
	align-items: center;
	width: 25%;
	max-width: 21rem;
	margin-right: 3rem;
	box-shadow: 0px 1.6rem 2rem rgba(20, 27, 65, 0.03);
	border-radius: 1rem;
	margin-bottom: 0;
	&:last-child{
		margin-right: 0;
	}
}
.info-list__icon_2{
	margin-right: 0;
}
.info-list__text_2{
	white-space: normal;
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 300;
	padding: 2.2rem 1.5rem 1.5rem 1.5rem;
	color: #141b41;
}
.app{
	margin-top: 17.9rem;
	&__box{
		background: #446DF6;
		border-radius: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 3.9rem 5.9rem 0 7rem;
		position: relative;
	}
	&__info{
		max-width: 36.4rem;
	}
	&__title{
		color: #f7f8fd;
		font-size: 4rem;
		line-height: 1.15;
		font-weight: 400;
		padding-bottom: 0;
	}
	&__text{
		color: #E9ECF5;
		font-weight: 300;
		line-height: 1.4;
		font-size: 1.8rem;
	}
	&__img{
		display: flex;
		flex-direction: row;
		align-content: space-between;
		margin-top: 3rem;
	}
	&__link{
		margin-right: 2rem;
		display: block;
		width: 16.2rem;
		height: 5rem;
		opacity: 1;
		border-radius: 0.6rem;
		overflow: hidden;
		&:hover{
			opacity: 0.8;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__decor{
		margin-top: -10.7rem;
	}
}
.reviews{
	margin-top: 14.9rem;
	margin-bottom: 13.4rem;
}
.slider{
	margin-top: 0.7rem;
	&__item{

	}
	&__text{
		display: block;
		width: 100%;
		max-width: 71rem;
		line-height: 1.4;
	}
	&__human{
		margin-top: 4.5rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: flex-start
	}
	&__human-photo{
		width: 8rem;
		height: 8rem;
		overflow: hidden;
		border-radius: 50%;	
		margin-right: 3rem;
		img{
			border-radius: 50%;
		}
	}
	&__human-name{
		font-size: 2.4rem;
		line-height: 1;
		color: #141b41;
		font-weight: 400;
		padding: 0.5rem 0;
		position: relative;
		top: -0.2rem;
	}
	&__human-position{
		color: #72727e;
		line-height: 1;
		font-size: 1.8rem;
		font-weight: 300;
	}
}
.slick-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #F7F8FD;
	position: absolute;
	top: 12px;
	right: 0;
	z-index: 99;
	cursor: pointer;
	transition: all 0.33s;
	.icon{
		top: 20px;
		transition: all 0.33s;
		color: #72727e;
	}
	&:hover{
		background: #446DF6;
		.icon:before{
			color: #EEEEEE;
		}
	}
	&_prev{
		right: 70px;
	}
	&_next{

	}
}
.icon-arrow-prev{
	font-size: 12px;
	position: absolute;
	z-index: 99;
	left: 20px;
}
.icon-arrow-next{
	font-size: 12px;
	position: absolute;
	z-index: 99;
	left: 18px;
}


.popup{
	position:absolute;
	left:-9999px;top:-9999px;
	opacity:0;
}
.window-open {
	width:100%;
	max-width:480px;
	background:#FFF;
	position:relative;
	padding: 84px 40px 42px 40px;
}
.fancybox__content>.carousel__button.is-close{
	top: 39px;
	right: 35px;
	transition: all 0.2s;
	svg{
		// color: #72727E;
	}
	&:hover{
		transform: rotate(90deg);
	}
}
.carousel__button svg{
	width: 18px;
	height: 18px;
	filter:none;
	color: #72727E;
	line-height: 1.2;
}
.popup{
	&__title{
		text-align: center;
		padding: 0;
	}
}
.box-form{
	margin-top: 75px;
	&__btn{
		width: 100%;
		text-align: center;
		margin-top: 45px;
	}
}
.box-field{
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	align-content: flex-start;
	width: 100%;
	margin-bottom: 30px;
	&__label{
		width: 64px;
		height: 64px;
		text-align: center;
		border: 1px solid #E9ECF5;
		border-radius: 10px 0 0 10px;
		padding-top: 21px;
		cursor: pointer;
		.icon{
			&:before{
				font-size: 18px;
			}
		}
	}
	&__input{
		position: relative;
		left: -1px;
		width: calc(100% - 65px);
		.form-control{
			border: none;
			width: 100%;
			height: 64px;
			box-shadow: none;
			font-weight: 300;
			font-size: 14px;
			line-height: 1;
			padding-left: 18px;
			border: 1px solid #E9ECF5;
			border-radius: 0 10px 10px 0;
			color: №C0C0C0;
			font-size: 18px;
			&:focus{
				outline: 0 !important;
				outline-offset: 0;
			}
		}
	}
}
.list-check{
	margin-bottom: 18px;
	&__item{
		margin-bottom: 18px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__label{
		display: block;
	}
	&__input{
		position: absolute;
		z-index: -1;
		opacity: 0;
		left: -1000px;
		&:checked{
			&+.list-check__box{
				.icon{
					opacity: 1;
				}
			}
		}
		&:hover{
			+.list-check__box{
				box-shadow: 0 0 5px rgba(0,0,0, 0.2);
			}
		}
	}
	&__box{
		display: inline-block;
		vertical-align: bottom;
		line-height: 1;
		width: 24px;
		height: 24px;
		border: 1px solid #E9ECF5;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		margin-right: 10px;
	}
	&__text{
		vertical-align: bottom;
		display: inline-block;
		font-size: 18px;
		line-height: 1;
		color: #72727E;
		font-weight: 300;
		cursor: pointer;
	}
}
.icon-check{
	font-size: 11px;
	position: absolute;
	left: 5px;
	top: 7px;
	opacity: 0;
	transition: all 0.2s;
}
.politic{
	margin-top: 46px;
	&__text{
		padding: 0;
		font-size: 13px;
		font-weight: 300;
		line-height: 1;
		color: #72727E;
	}
	&__link{
		color: #446df6;
		border-bottom: 1px solid #446df6;
		&:hover{
			border-bottom-color: transparent;
		}
	}
}
.mob{
	display: none;
}
@media screen and (max-width: 1200px){
	html{
		font-size: 9px;
	}
}
@media screen and (max-width: 1070px){
	.top-screen__decor{
		width: 60rem;
	}
	.start__img{
		left: -14rem;
	}
}
@media screen and (max-width: 1020px){
	html{
		font-size: 8px;
	}
	.top-screen{
		width: 50%;
	}
}

@media screen and (max-width: 767px){
	.mob{
		display: block;
	}
	.desct{
		display: none;
	}
	.top-screen{
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	h1{
		text-align: center;
		font-size: 21px;
	}
	.icon-arrow_down{
		text-align: center;
		font-size: 21px;
		position: relative;
		top: 4px;
	}
	.top-screen__descr{
		text-align: center;
		font-size: 16px;
		padding-top: 20px;
	}
	.top-screen__btn{
		margin-top: 19px;
	}
	.top-screen__decor{
		position: relative;
		left: auto;
		top: auto;
		right: auto;
		width: 100%;
		img{
			width: auto;
			margin: 0 auto;
		}
	}
	.top-screen{
		// background-image: url(../img/8-1.png);
		
	}
	.top-screen__decor-tel{
		position: relative;
			z-index: 2;
	}
	.top-screen__decor-bubl{
		position: absolute;
				width: calc(100% + 40px);
				bottom: 0;
				left: -20px;
	}
}