
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	width:100%;
	height: 94px;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;	
    background: #fff;
}

.header{
	&__box{
		padding: 25px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
.logo{
	width: 120px;
	&__img{
		display: block;
		width: 100%;
	}
}
.nav{
	padding-left: 108px;
	position: relative;
	top: 2px;
	&__link{
		font-size: 1.8rem;
		font-weight: 300;
		display: inline-block;
		margin-right: 54px;
		border-bottom: 1px solid transparent;
		line-height: 1;
		&:hover{
			border-bottom-color: #000;
		}
	}
}
.button{
	display: inline-block;
	border: 1px solid #E9ECF5;
	border-radius: 6px;
	color: #446DF6;
	font-size: 1.6rem;
	line-height: 1;
	background: #fff;
	padding: 17px 25px 0px 25px;
	height: 50px;
	&:hover{
		border-color: #446DF6;
		color: #fff;
		background: #446DF6;
	}
}
.button_2{
	color: #eee;
	background: #446DF6;
	border-right-color: #446DF6;
	font-size: 1.7rem;
	font-weight: 500;
	padding: 23px 55px 15px 55px;
	height: 62px;
	font-weight: 500;
	&:hover{
		color: #446DF6;
		background: #fff;
		border-color: #E9ECF5;
	}
}
@media screen and (max-width: 370px) {
   
}